{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "^@?\\w",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/features/(.*)$",
    "^@/services/(.*)$",
    "^@/kernel/(.*)$",
    "^@/shared/(.*)$",
    "^[./]",
    ".(css|scss|sass|less)$"
  ],
  "importOrderSeparation": true,
  "jsxSingleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
