@import 'tailwindcss';
@import '@heroui/styles';

:root {
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
